---
layout: default
title: Programming Tutorials &amp; Code Snippets
description:
---

{% if paginator.next_page == 2 %}
<div class="hero-unit">
    <h1>Data Hack Code Snippets</h1>
    <p>Hello world, this is <strong>datahack:it!</strong> - a programming tutorial and code snippet sharing project by Jan Brennenstuhl. It is basically some kind of a getting started guide, mainly focused on providing help handling open data and open formats such as JSON, XML, HTML, CSV or YAML.</p>
    <p><a href="{{ site.domain }}/about.html" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
{% endif %}

<div class="row-fluid articles">
    {% for post in paginator.posts %}
        <div class="span4">
            <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
            <p>{{ post.description | truncatewords:40 | strip_html }}</p>
            <p><a class="btn" href="{{ post.url }}"><b>Read</b> on</a></p>
        </div>
        {% assign mod = forloop.index|modulo:3 %}
        {% if mod == 0 %}
            </div><div class="row-fluid articles">
        {% endif %}
    {% endfor %}
</div>
