<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - datahack:it!</title>
        <meta name="description" content="{{ page.description | truncate:150 | strip_html }}">
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="Jan Brennenstuhl">
        <meta name="twitter:card" value="summary" />
        <meta name="twitter:creator" value="@jbspeakr" />
        <meta name="twitter:image" value="http://www.datahack.it/img/datahack-it.png" />
        <meta name="twitter:description" value="{{ page.description | truncate:150 | strip_html }}" />
        <meta property="og:locale" content="en_GB"/>
        <meta property="og:description" content="{{ page.description | truncate:150 | strip_html }}" />
        <meta property="og:title" content="{{ page.title }} - datahack:it!"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="http://www.datahack.it/img/datahack-it.png" />
        <link rel="author" href="https://plus.google.com/115369062315673853712/posts" />
        <link rel="stylesheet" href="{{ site.domain }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.domain }}/css/main.css">
        <link rel="stylesheet" href="{{ site.domain }}/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ site.domain }}/css/pygments.css">
        <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
        <script src="{{ site.domain }}/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <header class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="{{ site.domain }}" title="{{ site.title }}"><span class="blue">datahack</span>:it!</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="{{ site.domain }}/about.html">About</a></li>
                            <li><a href="{{ site.domain }}/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row-fluid">
                <section class="span9">
                  {{ content }}
                  {% include pagination.html %}
                </section>
                {% include aside.html %}
            </div>
            <hr />
            {% include footer.html %}
        </div>
    </body>
    {% include analytics.html %}
</html>
